doctype
html
    head
        title= 'Dashboard'
        link(rel='stylesheet', href='/public/css/global.css')
        link(rel='stylesheet', href='../public/css/dashboard.css')
        link(rel='stylesheet', href='../public/css/pop-up.css')
        link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='icon', type='image/x-icon', href='../public/img/web-site-icon.ico')

    body
        div(class='dashboard-container')
            aside(class='sidebar')
                div(class='logo')
                    img(src='../public/img/svg/web-site-logo.svg', alt='Web site logo')
                    hr(style='border: 1px solid; color: #011524;')
                nav
                    ul
                        li
                            img(src='../public/img/svg/Help.svg', alt='help icon')
                            a Help
                        hr(style='border: 1px solid; color: #011524;')
                        li
                            img(src='../public/img/svg/logout.svg', alt='logout icon')
                            a(href='/logout') Logout
            // Main Section
            main(class='main-content')
                header(class='header')
                    div(class='header-left')
                        p Good Morning
                        h1 Welcome Back!
                    div(class='header-right')
                        img(src='../public/img/svg/notification.svg', alt='notification icon', class='icon')
                        img(src='../public/img/svg/setting.svg', alt='settings icon', class='icon')
                        img(src='../public/img/svg/profile.svg', alt='profile icon', class='profile-pict')


                div(class='content-grid')
                  // Calendar Section
                  div(class='calendar')
                    .calendar-header
                      button(id='prevMonth') &larr;
                      h2(id='monthYear')
                      button(id='nextMonth') &rarr;
                    table.calendar-table
                      thead
                        tr
                          th Mo
                          th Tu
                          th We
                          th Th
                          th Fr
                          th Sa
                          th Su
                      tbody

                  // Habits Section
                  div(class='todays-habits')
                    h1 Today's Habits
                    ul.habit-list



                    button(class='add-habit-button') +
            //Creating the pop up page for adding a new habit
            div.popup-overlay.hidden
              div.popup-container
                h1 Add a New Habit
                form#newHabitForm
                  label(for='habitName') Habit Name:
                  input#habitName(type='text' name='name' required placeholder='Enter habit name')

                  label(for='habitFrequency') Frequency:
                  select#habitFrequency(name='frequency' required)
                    option(value='daily') Daily
                    option(value='weekly') Weekly
                    option(value='monthly') Monthly

                  label(for='startDate') Start Date:
                  //TODO: Set the current date as the default value
                  input#startDate(type='date' name='startDate' value='#{currentDate}' required)

                  label(for='progress') Initial Progress:
                  input#progress(type='number' name='progress' value='0' min='0' max='100' step='1')

                  div.popup-footer
                      button.close-popup Close
                      button(type='submit') Save Habit
        script(src='/public/js/calendar-handler.js')
        script(src='/public/js/pop-up.js')