doctype html
html
    head
        title= 'Sing In'
        link(rel='stylesheet', href='../public/css/global.css')
        link(rel='stylesheet', href='../public/css/sign-up-in.css')
        link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='icon', type='image/x-icon', href='../public/img/svg/web-site-icon.svg')
    body
        div(class='d-flex justify-content-center align-items-center vh-100 bg-light')
            div(class='container')
                div(class='row justify-content-center')
                    div(class='col-md-5 bg-white p-4 rounded-4')
                        div(class='signup-header mb-5')
                            img(src='../public/img/svg/web-site-logo.svg' class='img-fluid mb-5', alt='Web site logo')
                            h1 Welcome back
                            p Enter your details to enter into your account
                        form(method='post', action='/dashboard')
                            // Email input
                            p(class='mb-3')
                                label(for='email', class='form-label fw-medium') Email
                                input(type='text', name='email', id='email',  class='form-control fw-light px-3 py-1 px-3 py-3', placeholder='Enter your email')

                            // Password input
                            label(for='password', class='form-label fw-medium mb-2') Password
                            div(class='input-group')
                                input(type='password', name='password', id='password', oninput="checkStrongPassword()", class='form-control  fw-light px-3 py-2 px-3 py-3 border-end-0', placeholder='Enter your password')
                                span(class='input-group-text bg-transparent border-start-0')
                                    img(src='/public/img/svg/eye.svg', alt='password field', id="eyeOpen", onclick="showPassword()", width='20', height='21')

                            // Adding the pop-up that will show that the user does not exist
                            div(class='alert alert-danger d-flex mt-3 align-items-center d-none', role='alert', id='userNotExist')
                                img(src='../public/img/svg/exclamation-triangle.svg', class='me-2', role='img', width='20', height='20' aria-label='Danger:')
                                span(class='fw-light m-0 align-items-center') User does not exist or password is incorrect


                            // Submit button
                            div(class='row mt-5')
                                div(class='col-md-12 d-grid gap-2 mx-auto')
                                        input(type='submit', value='Sign In', class='btn btn-dark fw-medium px-3 py-2 py-3', id='submit-button', disabled)
                                        p(class='text-center mt-3')
                                            span(class='fw-light') Don't have an account?
                                            a(href='/signup' class='fw-medium link-dark link-underline link-underline-opacity-0')  Sign up

                    // Adding the section for the copy right
                    div(class='row mt-5')
                        div(class='col-md-12 d-grid gap-2 mx-auto')
                            p(class='text-center mt-3')
                                span(class='fw-light') Created by Danilo Quattrini © 2024 All rights reserved

        script(src='/public/js/check-values.js')
        script(src='/public/js/existing-user.js')
        script(src='/public/js/form-validator-sign-in.js')
