doctype html
html
    head
        title User Settings
        link(rel='stylesheet', href='/public/css/global.css')
        link(rel='stylesheet', href='/public/css/sign-up-in.css')
        link(rel='stylesheet', href='/public/css/pop-up.css')
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='icon', type='image/x-icon', href='/public/img/web-site-icon.svg')

    body
        div(class='d-flex justify-content-center align-items-center vh-100 bg-light')
            div(class='container')
                div(class='row justify-content-center')
                    div(class='col-md-5 bg-white p-4 rounded-4')
                        div(class='settings-header mb-5')
                            img(src='/public/img/svg/web-site-logo.svg', class='img-fluid mb-5', alt='Web site logo')
                            h1 User Settings
                            p Update your personal information

                        // User Information Form
                        form(id="editUserForm" method="POST" action="/edit")
                            div(class='mb-3')
                                label(for='name', class='form-label fw-medium') Name
                                input#name(type='text', name='name', class='form-control fw-light px-3 py-3', placeholder='Enter your name', required)
                            div(class='mb-3')
                                label(for='surname', class='form-label fw-medium') Surname
                                input#surname(type='text', name='surname', class='form-control fw-light px-3 py-3', placeholder='Enter your surname', required)
                            div(class='mb-3')
                                label(for='email', class='form-label fw-medium') Email
                                input#email(type='email', name='email', class='form-control fw-light px-3 py-3', placeholder='Enter your email', required)
                            button(type='submit', class='btn btn-dark w-100 mt-3 fw-medium px-3 py-3') Save Changes

                        hr(class='my-5')

                        // Danger Zone Section
                        div(class='danger-zone-section mt-2 text-center')
                            button(type='button', class='btn btn-danger w-100 fw-medium px-3 py-3', id='delete-account-btn') Delete My Account

        // Delete Confirmation Pop-Up
        div.popup-overlay.hidden
            div.popup-container
                h1 Delete Account
                p Are you sure you want to delete your account? This action cannot be undone.
                form(id="deleteUserForm" method="POST" action="/delete")
                    div(class='mb-3')
                        label(for='password', class='form-label text-danger fw-medium') Confirm Password
                        input(type='password', name='password', id='password', class='form-control fw-light px-3 py-3', placeholder='Enter your password', required)
                    div.popup-footer
                        button(type='button', class='btn btn-secondary close-popup') Cancel
                        button(type='submit', class='btn btn-danger') Confirm Delete

        script(src='/public/js/pop-up.js')
        script(src='/public/js/form-validator-settings.js')